<ol class="breadcrumb">
  <li><%= link_to t(:admin_coursewares), admin_coursewares_path %></li>
  <li><%= link_to t(:new_courseware), new_admin_courseware_path(), :class => "btn btn-info" %></li>
</ol>