<div class="well">
	<%= search_form_for @q, url: admin_grades_path, :role => "form", :class => "form-inline" do |f| %>
	  <%= f.text_field :name_cont, {:placeholder => t(:c_name),:class => "form-control"} %>
	  <%= f.select :status_eq, ([''] + grade_status).flatten, {}, {:class => "form-control"} %>
	  <%= f.submit :search, {:class => "btn btn-default"} %>
	<% end %>
</div>